div {
    text-align: center;
    font-size: 29px;
    padding: 10px
}

div:first-of-type {
    padding-top: 0px;
}

#stats {
    margin: auto;
    max-width: 250px;
}

button {
    height: 50px;
    width: 200px;
    font-size: 40px;
}